#{extends 'standardForm.html' /} #{set title:'Naseljena mesta' /}

<script>	
	function sync(item){
		if ("${session.mode}" == "edit"){
			oznaka = item.find(".nm_oznaka").html()
		    naziv = item.find(".nm_naziv").html()
		    postanskiBroj = item.find(".nm_postanskiBroj").html()
		    drzava = item.find(".drzava").html()
		    id = item.find(".id").html()
		    $("#naseljenoMesto_oznaka").val(oznaka);
		    $("#naseljenoMesto_naziv").val(naziv);
		    $("#naseljenoMesto_postanskiBroj").val(postanskiBroj);
		    
		    $("#naseljenoMesto_id").val(id);
		    
		    var options = document.getElementById("drzava_id").children;
			for (i = 0; i < options.length; i++) { 
    			if(options[i].label == drzava){
    				document.getElementById("drzava_id").selectedIndex = i;
    				break;
    			}
			}
		}
	}
	
	function SelectElement()
	{   
		if(${session.idDrzave} != null){  
			var options = document.getElementById("drzava_id").children;
			for (i = 0; i < options.length; i++) {
    			if(options[i].value == ${session.idDrzave}){
    				document.getElementById("drzava_id").selectedIndex = i;
    				break;
    			}
			}
			document.getElementById("drzava_id").disabled = true;
			document.getElementById("zoomBtn").disabled = true;
		}else{
			document.getElementById("drzava_id").disabled = false;
			document.getElementById("zoomBtn").disabled = false;
		}
	}
		
	function remove(id){  <!-- ne znam koji je uanpred selektovani red , ovde se vrsi redirekcija -->
		if(id == null){
			alert("Označite red u tabeli!");
		}else{
			var r  = confirm("Da li želite da obrište slog?");
			if(r == true) {
		    	$(location).attr('href', '/NaseljenaMesta/delete?id='+id);
			}
			else{
				txt = "You pressed Cancel"
			}
		}
	}
	
	function refresh_page(){
		$(location).attr('href', '/NaseljenaMesta/refresh');
	}
</script>

<div class="container-fluid">
	<div class="row">
		<div class="icon-bar">
			<a href="#" onclick="openSideNav()">
				<img width="16px" height="16px" src="@{'/public/images/menu_icon.png'}" />
			</a>

			<a href="@{NaseljenaMesta.changeMode("search")}" id="search">
				<img src="@{'/public/images/search.gif'}" />
			</a> 
			
			<a href="#" onclick="refresh_page()"> 
				<img src="@{'/public/images/refresh.gif'}" />
			</a> 
			
			<a href="#" id="pickup"> 
				<img src="@{'/public/images/zoom-pickup.gif'}" />
			</a> 
			
			<a href="#" id="help"> 
				<img src="@{'/public/images/help.gif'}" />
			</a> 
			
			<a id="first"> 
				<img src="@{'/public/images/first.gif'}" />
			</a> 
			
			<a id="prev"> 
				<img src="@{'/public/images/prev.gif'}" />
			</a> 
			
			<a id="next"> 
				<img src="@{'/public/images/next.gif'}" />
			</a> 
			
			<a id="last"> 
				<img src="@{'/public/images/last.gif'}" />
			</a> 
			
			<a href="@{NaseljenaMesta.changeMode("add")}" id="add"> 
				<img src="@{'/public/images/add.gif'}" />
			</a>
			
			<a href="#" id="remove"> 
				<img src="@{'/public/images/remove.gif'}" />
			</a> 
			
			<a href="#" id="nextform"> 
				<img src="@{'/public/images/nextform.gif'}" />
			</a>
		</div>

		<div class="container-fluid">
			<h1>Naseljena mesta</h1>

			<table>
				<tr class="header">
					<th>Oznaka</th>
					<th>Naziv</th>
					<th width="20%">Poštanski broj</th>
					<th>Država</th>
				</tr>
				#{list items:naseljenaMesta, as:'naseljenoMesto'}
				<tr #{if naseljenoMesto.id== idd} class="highlighted"#{/if}>
					<td class="nm_oznaka">${naseljenoMesto.oznaka}</td>
					<td class="nm_naziv">${naseljenoMesto.naziv}</td>
					<td class="nm_postanskiBroj">${naseljenoMesto.postanskiBroj}</td>
					<td class="drzava">${naseljenoMesto.drzava.naziv}</td>
					<td style="visibility: hidden; max-width: 0px" class="id">${naseljenoMesto.id}</td>
				</tr>
				#{/list}

			</table>


			#{set 'action'} 
				#{if session.mode == 'add'}
					@{NaseljenaMesta.create()} 
				#{/if} 
				#{elseif session.mode == 'edit'}
					@{NaseljenaMesta.edit()} 
				#{/elseif} 
				#{elseif session.mode =='search'} 
					@{NaseljenaMesta.filter()} 
				#{/elseif} 
			#{/set}

			<div class="panel">

				<form action="${action}">
					<p>
						#{field 'naseljenoMesto.id'} 
							<input type="hidden" name="${field.name}" id="${field.id}" value="${session.idNM}" />
						#{/}
					</p>

					<p>
						#{field 'naseljenoMesto.oznaka'} 
							<label for="${field.id}">Oznaka</label>
							<input type="text" name="${field.name}" id="${field.id}" value="${session.oznaka}" /> 
							<span>#{error field.name /}</span>
						#{/}
					</p>

					<p>
						#{field 'naseljenoMesto.naziv'} 
							<label for="${field.id}">Naziv</label>
							<input type="text" name="${field.name}" id="${field.id}" value="${session.naziv}" />
							<span>#{error field.name /}</span>
						#{/}
					</p>

					<p>
						#{field 'naseljenoMesto.postanskiBroj'} 
							<label for="${field.id}">PoÅ¡tanski broj</label>
							<input type="text" name="${field.name}" id="${field.id}" value="${session.postanskiBroj}" />
							<span>#{error field.name /}</span>
						#{/}
					</p>

					<p>
						#{field 'drzava.id'} 
							<label for="${field.id}">DrÅ¾ava</label> 
							<select name="${field.name}" id="${field.id}"> 
								#{list items:drzave, as:'drzavaa'}
									<option value="${drzavaa.id}">${drzavaa.naziv}</option>
								#{/list}
							</select>

							<button id="zoomBtn" type="button" class="btn btn-info btn-sm"
							data-toggle="modal" data-target="#drzaveModal">...</button>

							<script>
           						SelectElement(${session.idDrzave});
        					</script>
						#{/}
					</p>

					<div id="formActions">
						<input type="submit" value="Potvrda" style="margin-left: 6em" />
						<a href="@{NaseljenaMesta.changeMode("edit")}" style="margin-left: 1em">Rollback</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<p class="status_line">Trenutni režim: ${session.mode}</p>

<div id="sidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeSideNav()">&times;</a>
  <a href="@{Drzave.show("edit")}">Države</a>
  <a href="@{NaseljenaMesta.show()}">Naseljena mesta</a>
  <a href="@{Preduzeca.show("edit")}">Preduzeća</a>
  <a href="#">Poslovne godine</a>
  <a href="#">Poslovni partneri</a>
  <a href="#">Fakture</a>
  <a href="#">Stavke fakture</a>
  <a href="#">Narudžbe</a>
  <a href="#">Stavke narudžbi</a>
  <a href="#">Katalog robe i usluga</a>
  <a href="#">Cenovnik</a>
  <a href="#">Stavka cenovnika</a>
  <a href="#">Stopa PDVa</a>
  <a href="#">Vrsta PDVa</a>
  <a href="#">Grupa</a>
  <a href="#">Podgrupa</a>
</div>

<button onclick="topFunction()" id="myBtn" title="Idi na vrh">
	<img src="@{'/public/images/back_top.png'}" alt=""
		class="rounded-circle" width="40" height="40">
</button>

<!-- Modal Drzave -->
<div class="modal fade" id="drzaveModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">Države</div>

			<div class="modal-body">
				<table style="padding: 2em">
					<tr class="header">
						<th>Oznaka</th>
						<th>Naziv</th>
					</tr>

					#{list items:drzave, as:'drzava'}
					<tr>
						<td class="oznaka">${drzava.oznaka}</td>
						<td class="naziv">${drzava.naziv}</td>
						<td style="visibility: hidden; max-width: 0px" class="id">${drzava.id}</td>
					</tr>
					#{/list}
				</table>

				<div class="modal-footer">
					<input id="drzavaPickup" type="button" value="izbor" />
				</div>
			</div>
		</div>
	</div>
</div>
</div>